<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>TEA : PRODUCTS</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="css/Navigation.css" />
	<link rel="stylesheet" href="css/Products.css" />

</head>

<body>
<nav>
	<!-- Navigation content here -->
</nav>
<section class="row1">
	<!-- Loop through products here -->
	<div class="p1">
		<img src="/Images/TEA1.jpg" alt="teaImage" />
		<h4>Product Name : <span>Product 1</span></h4>
		<h4>Product Price : <span>₹ 100</span></h4>

		<a class="buy-now" href="/login">Buy_Now</a><br />
	</div>
	<div class="p2">
		<img src="/Images/TEA3.jpg" alt="teaImage" />
		<h4>Product Name : <span>Product 2</span></h4>
		<h4>Product Price : <span>₹ 100</span></h4>

		<a class="buy-now" href="/login">Buy_Now</a><br />
	</div>
	<!-- More products here -->
</section>
<script>
	document.addEventListener("DOMContentLoaded", function() {
        const buyNowButtons = document.querySelectorAll(".buy-now");
        buyNowButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                alert("Please Login as a User to buy Products");
            });
        });
    });
</script>
</body>

</html>